<div class="movie-box">
  <%= render 'shared/error_messages', obj: movie %>
  <span class="movie-title"><%= movie.title %></span>

  <br>

  Posted by <%= link_to movie.user.name, user_path(movie.user) %> <%= time_ago_in_words(movie.created_at) %> ago

  <br><br>

  <div>
    <%= movie.description %>
  </div>

  <br>

  <%= render partial: 'movies/vote_section', locals: { movie: movie } %>
  
</div>
<br>
