<div class="movie-box">
  <%= render 'shared/error_messages', obj: movie %>
  <span style="font-size: 1.5em; font-weight: bold;"><%= movie.title %></span>
  <br>
  Posted by <%= link_to movie.user.name, user_path(movie.user) %> <%= time_ago_in_words(movie.created_at) %> ago
  <br><br>
  <div>
    <%= movie.description %>
  </div>
  <br>
  <% likes_count = movie.likes_count %>
  <% hates_count = movie.hates_count %>
  <% if !signed_in? || own_movie?(movie) %>
    <%= pluralize(likes_count, 'like') %> | <%= pluralize(hates_count, 'hate') %>
  <% else %>
    <% if l = liked_movie?(movie) %>
      <div class="span-5">
        <%= pluralize(likes_count, 'like') %>  | <%= link_to pluralize(hates_count, 'hate'), user_movie_votes_path(movie.user, movie, vote: false), method: :post %>
      </div>
      <div class="span-10 last" style="text-align: right;">
        You like this movie | <%= link_to "Unlike", user_movie_vote_path(movie.user, movie.id, l.id), method: :delete %>
      </div>
      <div class="clear"></div>
    <% elsif h = hated_movie?(movie) %>
      <div class="span-5">
        <%= link_to pluralize(likes_count, 'like'), user_movie_votes_path(movie.user, movie, vote: true), method: :post %> | <%= pluralize(hates_count, 'hate') %>
      </div>
      <div class="span-10 last" style="text-align: right;">
        You hate this movie | <%= link_to "Unhate", user_movie_vote_path(movie.user, movie.id, h.id), method: :delete %>
      </div>
      <div class="clear"></div>
    <% else %>
      <% if likes_count + hates_count == 0 %>
        Be the first to vote for this movie: 
      <% end %>
      <%= link_to pluralize(likes_count, 'like'), user_movie_votes_path(movie.user, movie, vote: true), method: :post %>  | <%= link_to pluralize(hates_count, 'hate'), user_movie_votes_path(movie.user, movie, vote: false), method: :post %>
    <% end %>
  <% end %>
</div>
<br>