<h1>Movies by <%= @user.name %></h1>
<%= render partial: 'layouts/order_bar' %>

<%= link_to "Back to All Movies", root_path %>

<%= render partial: 'movies/movie_item', collection: @movies, as: :movie %>

<%= link_to "Back to All Movies", root_path %>
