<!DOCTYPE html>
<html>
<head>
  <title>Movierama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main_page">
    <%= render partial: 'layouts/header' %>

    <%= render 'layouts/application_stage_header' %>
    <div class="span-16">
      <%= yield %>
    </div>

    <% if signed_in?  %>
      <div class="span-8 tac last">
        <%= link_to "New Movie", new_user_movie_path(current_user), class: "btn-01 btn-01-green" %>
      </div>
    <% end %>
  </div>

</body>
</html>
